:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 2000px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAV BAR */

nav {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    background-color: var(--text-color);
}

nav .left a {
    color: var(--background-color);
    font-size: 22px;
    font-weight: 600;
}

nav .center {
    display: flex;
    font-size: 18px;
    justify-content: space-between;
}

nav .center a {
    color: var(--background-color);
    padding: 0 20px;
}

nav .center a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

nav .right a {
    margin: 0 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a:hover{
    color: var(--link-color);
}

nav .right a span {
    margin-left: 5px;
}

/* HERO */

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;   
    margin-bottom: 70px;
}

.hero-section .text {
    display: flex;;
    flex: 5;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.hero-section .text h1 {
    font-size: 45px;
    color: var(--text-color);
    justify-content: center;
    text-align: center;
}

.hero-section .text .links {
    margin-top:  25px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);

}

.hero-section .headshot {
    flex: 5;
    display: flex;
    justify-content: center;
}

.hero-section .headshot img {
    border-radius: 50%;
    width: 350px;
}

/* ABOUT */
.about-section {
    padding: 0 50px;
    margin-bottom: 70px;
}

.about-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.about-section .group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    gap: 50px;
}

.about-section .group .text {
    flex: 6;
    text-align: center;
}

.about-section .headshot {
    flex: 3;
    text-align: center;
}

.about-section .headshot img {
    border-radius: 5%;
    width: 300px;
}

/* SKILLS */
.skills-section {
    padding: 0 100px;
    margin-bottom: 70px;
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 15px;
}

.skills-section .text {
    margin-bottom: 20px;
    text-align: center;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;;
    padding: 10px 20px;
    margin: 10px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

/* CONTACT */
.contact-section {
    padding: 0 50px;
    margin-bottom: 70px;
}

.contact-section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-section .group {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-section .group .text {
    flex: 10;
    text-align: left;
    margin-bottom: 15px;
}

.contact-section .group form {
    flex: 10;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input, 
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.contact-section .group form button:hover {
    filter: brightness(0.9);
}

/* FOOTER */

footer {
    display:  flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: var(--text-color);  
}

footer .links {
    display: flex;
    justify-content: space-between;
    gap:50px;
    font-size: 25px;
}


/* RESPONSIVENESS */

@media (max-width: 740px) {
    /* NAV BAR */
    nav {
        padding: 0 20px;
    }

    /* HERO */
    .hero-section {
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .hero-section .text h1 {
        margin-top: 10px;
        font-size: 38px;
    }

    .hero-section .headshot img {
        width: 280px;
    }

    /* ABOUT */
    .about-section {
        padding: 0 20px;
    }  

    .about-section .group{
        flex-direction: column;
    }

    .about-section .headshot img {
        width: 230px;
    }

    /* SKILLS */
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .cell .cell span {
        font-size: 16px;
    }

    /* CONTACT */
    .contact-section {
        padding: 0 20px;
    }

    .contact-section .group {
        flex-direction: column;
    }
}