:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
    --translate-y: clamp(1rem, 7vi, 2.7rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    max-width: 2000px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAV BAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--text-color);
    padding: 1rem 2vw;
    margin-bottom: 1rem;
}

nav .nav-name {
    font-size: clamp(1rem, 4vw, 1.7rem);
    color: var(--background-color);
    font-weight: 600;
}

nav .nav-options {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1rem, 4vw, 1.2rem);

}

nav .nav-options li{
    padding: 0 2vi;
      
}

nav .nav-options li a {
    color: var(--background-color);
}

nav .nav-options li a:hover {
    color: var(--link-color);
    text-decoration: underline;
}

nav .nav-contact {
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 0.2vi 1vi;
    border-radius: 0.5vi;
    font-size: clamp(1rem, 4vw, 1.2rem);
}

nav .nav-contact:hover {
    color: var(--link-color);
}


/* HERO */

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    text-align: center;
    gap: 1vi;
    padding: 7vi 1vi;
}

.hero-section .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 5;
    flex-direction: column;

}

.hero-section .text .hi-text {
    font-size: clamp(1.2rem, 9vi, 2.9rem);
    color: var(--text-color);
    font-weight: 600;
}


.hero-section .text .animation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    font-size: clamp(1rem, 7vi, 2.7rem);
    color: var(--text-color);
    font-weight: 600;
    gap: 2vi;
}

.hero-section .text .animation-container .a-alone {
    flex: 1;
    text-align: center;
    font-size: clamp(1rem, 7vi, 2.7rem);
    color: var(--text-color);
    font-weight: 600;
}

.hero-section .text .animation-container .animation-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(1.5*clamp(1rem, 7vi, 2.7rem));
    box-shadow: 0 -1vi 1vi -1vi darkgrey, 0 1vi 1vi -1vi darkgrey;
    overflow: hidden;
}

.hero-section .text .animation-container .animation-box .self-titles {
    list-style: none;
    flex: 5;
    text-align: center;
    align-items: center;
    justify-content: top;

    animation: scroll 6s infinite;
}

@keyframes scroll {
    

    0%, 15%, 100% {
        transform: translate3d(0,calc(1.5*var(--translate-y)),0);
    }
    25%, 45% {
        transform: translate3d(0, 0, 0);
    }

    55%, 70% {
        transform: translate3d(0, calc(-1.5*var(--translate-y)), 0);
    }
    
}

.hero-section .headshot {
    flex: 5;
}

.hero-section .headshot img {
    border-radius: 50%;
    width: clamp(5rem, 60vi, 23rem);
}

.hero-section .text .links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* font-size: clamp(1, 5vi, 1.5rem); */
    font-size: clamp(0.7rem, 3vi, 1.2rem);
}

.hero-section .text .links li {
    padding: 1vi 0.5vi;
}

.hero-section .text .links li a {
    display: inline-block;
    border: 2px solid var(--link-color);
    padding: 0.2vi 1vi;
    border-radius: 5px;
    transition: 0.1s;
}

.hero-section .text .links li a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}


/* ABOUT */

.about-section {
    padding: 3vi 0;
}

.about-section h2{
    text-align: center;
    color: var(--text-color);
    font-size: clamp(1rem, 7vi, 2rem);
}

.about-section .about-me-text-img {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vi 5vi;
    flex-wrap: wrap-reverse;
    gap: 2vi;
}

.about-section .about-me-text-img .fullbody {
    flex: 3;
}

.about-section .about-me-text-img .fullbody img {
    border-radius: 10%;
    width: clamp(5rem, 50vi, 23rem);
}

.about-section .about-me-text-img p {
    flex: 5;
    text-align: center;
    font-size: clamp(0.8rem, 40vi, 1rem);
    min-inline-size: 41vi;
    padding: 0vi 5vi;
}


/* SKILLS */

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3vi 0;
}

.skills-section h2{
    text-align: center;
    color: var(--text-color);
    font-size: clamp(1rem, 7vi, 2rem);
    
}

.skills-section p {
    text-align: center;
    font-size: clamp(0.8rem, 40vi, 1rem);
    padding: 0.5vi 10vi;
}

.skills-section .skills-cells {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1vi 5vi;
    gap: 1vi;
}

.skills-section .skills-cells li {
    list-style-type: none;
    padding: 0.5vi 2vi;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
}

.skills-section .skills-cells li img {
    width: clamp(1rem, 3vi, 2rem);
}


/* CONTACT ME */


.contact-section {
    padding: 3vi 0;
}

.contact-section h2{
    text-align: center;
    color: var(--text-color);
    font-size: clamp(1rem, 7vi, 2rem);
}

.contact-section .contact-content {
    display: flex;
    justify-content: space-around;
    text-align: left;
    align-items: left;
    flex-wrap: wrap;
    padding: 1vi 5vi;
    gap: 2vi;
    flex-wrap: wrap;
}

.contact-section .contact-content p {
    flex: 5;
    text-align: left;
    justify-content: center;
    font-size: clamp(0.8rem, 40vi, 1rem);
    padding: 1vi 5vi;
    text-align: left;
    min-inline-size: 30vi;
}

.contact-section .contact-content form {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 1vi 5vi;
    text-align: left;
}



.contact-section .contact-content form input, 
.contact-section .contact-content form textarea {
    font-family: 'Poppins', sans-serif;
    border: 1px solid var(--link-color);
    background-color: transparent;
    outline: none;
    margin-bottom: 1vi;
    resize: none;
}

.contact-section .contact-content form button {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 40vi, 1rem);
    color: var(--background-color);
    background-color: var(--link-color);
    border: none;
    cursor: pointer;
    transition: 0.1s;
}

.contact-section .contact-content form  button:hover {
    filter: brightness(0.9);
}

/* FOOTER */

footer {
    display:  flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--text-color);  
}

footer .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 3vi;
}

footer .footer-links li {
    list-style: none;
}

footer .footer-links li a{
    font-size: clamp(0.8rem, 10vi, 1.4rem);
}



/* 



CONTACT
.contact-section {
    padding: 0 50px;
    margin-bottom: 70px;
}

.contact-section h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
}

.contact-section .group {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.contact-section .group .text {
    flex: 10;
    text-align: left;
    margin-bottom: 15px;
}

.contact-section .group form {
    flex: 10;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input, 
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    border: 2px solid var(--link-color);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: var(--link-color);
    border: none;
    height: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.contact-section .group form button:hover {
    filter: brightness(0.9);
}

FOOTER




/* RESPONSIVENESS */
/* 
@media (max-width: 740px) {
    NAV BAR
    nav {
        padding: 0 10px;
    }

    nav .left {
        font-size: 18px;
    }

    nav .center {
        font-size: 16px;
    }

    nav .center a {
        padding: 0 5px;
    }

    nav .right a {
        margin: 0 1px;
        color: var(--text-color);
        background-color: var(--background-color);
        padding: 1px 1px;
        border-radius: 5px;
        font-size: 16px;
    }

    nav .right a span {
        margin-left: 1px;
    }

    HERO
    .hero-section {
        flex-direction: column-reverse;
        padding: 0 20px;
    }

    .hero-section .text h1 {
        margin-top: 10px;
        font-size: 38px;
    }

    .hero-section .headshot img {
        width: 280px;
    }

    ABOUT
    .about-section {
        padding: 0 20px;
    }  

    .about-section .group{
        flex-direction: column;
    }

    .about-section .headshot img {
        width: 230px;
    }

    SKILLS
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .cell .cell span {
        font-size: 16px;
    }

    .skills-section .cells .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    
        width: 150px;;
        padding: 10px 20px;
        margin: 5px;
        border: 1.5px solid #d3d3d3;
        border-radius: 5px;
    }

    CONTACT
    .contact-section {
        padding: 0 20px;
    }

    .contact-section .group {
        flex-direction: column;
    }
} */